/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*Layout*/
#container{
	max-width:960px;
	margin:auto;
}
#topbar{
    height:240px;
}
#menu li{
    display:inline;
}
#content{
    max-width:960px;
}
#maincontent{
	float:left;
	width:640px;
}
#subcontent{
    float:right;
    width:320px;
}

/*
Background topbar : #51473d
Background content: #eae7d2
Text color        : #996666
*/
#topbar{
    background-color:#51473d;
}
#content{
    background-color:#eae7d2;
}