/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*Layout*/
#container{
	max-width:600px;
	margin:auto;
}
#topbar{
    height:220px;
    display:block;
}
#menu{
    height:57px;
    float:left;
    width:100%;
}
#menu li{
    float:left;
}
#content{
    max-width:958px;
    margin-top:0;
}
#maincontent{
	float:left;
	width:384px;
	margin-top:10px;
}
#subcontent{
    float:right;
    width:184px;
    margin-top:10px;
}
#bottomcontent{
    clear:both;
}

/*
Background body   : #fcfaf4
Background topbar : #51473d
Background content: #eae7d2
Text color topbar : #eae7d2
Text color content: #797066
*/

/*Länkar i menyn*/
#menu ul{
    list-style-type:none;
}
    #menu a{
        display:block;
        text-transform:capitalize;
        font-size:80%;
        line-height:30px;
        padding:5px 15px;
    }
    #menu>a{
        display:none;
    }
    #menu a:link, #menu a:visited{
        border-top:1px solid #837e78;
        border-left:1px solid #51473d;
        background-color:#797066; 
        color:#eae7d2; 
        text-decoration:none;
    }
    #menu a:focus, #menu a:hover{
        background-color:#9c9084;
    }
    #menu .active a{
        background-color:#eae7d2;
        color:#797066;
        border-top:1px solid #51473d;
        border-bottom:1px solid #eae7d2;
        border-left:0;
    }

/*Övriga länkar*/
#content ul{
    font-size:smaller;
    line-height:18px;
    list-style-type:none;
    margin-left:-40px;
    margin-top:-10px;
}
    #content a:link, #content a:visited{
        color:#51473d;
    }

/*Mer övergripande text och färger*/
body{
    font-family:Verdana, Geneva, sans-serif;
    background-color:#fcfaf4;
}
#topbar, #menu{
    background-color:#51473d;
    color:#eae7d2;
}
#menu{
    border-bottom:1px solid #fcfaf4;
}
#topbar{
    font-size:80%;
    font-style:italic;
    text-align:right;
}
#content{
    background-color:#eae7d2;
    color:#797066;
    border-right:1px solid #cecab9;
    border-bottom:1px solid #cecab9;
    border-left:1px solid #cecab9;
    padding:8px;
}
    h1, h2{
        color:#51473d;
        font-family:"Times New Roman", Times, serif;
        font-weight:normal;
    }
    #maincontent h1{
        color:#797066;
        margin-top:10px;
    }
    #maincontent p{
        line-height:20px;
        font-weight:lighter;
        font-size:small;
    }
    #maincontent{
        border-right:1px dashed #c0c0c0;
    }
    #subcontent h1{
        font-size:120%;
        margin-top:20px;
    }
    #subcontent h2{
        font-size:100%;
        line-height:10px;
    }
    #subcontent p{
        line-height:20px;
        font-weight:lighter;
        font-size:x-small;
        padding-top:12px;
    }
#bottomcontent{
    font-size:80%;
    font-style:italic;
    text-align:left;
}

/*Bilder*/
#maincontent img{
    float:left;
    margin-right:5px;
}
#topbar{
    background-image:url("pics/coffey.jpg");
    background-position:bottom;
	background-repeat:no-repeat;
}